# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          # Search for charts only under box/kubernetes/ directory
          - --chart-search-root=box/kubernetes
          # Use custom template from .github/templates/
          - --template-files=.github/templates/README.md.gotmpl
